.form__input-text {
  background-color: $color-beige;
  border: 4px solid transparent;
}
.form__list {
  @include list_reset;
}
.form__radio-list {
  @include list_reset;
}
.form__checkbox-list {
  @include list_reset;
}
.form__textarea {
  background-color: $color-beige;
  border: 4px solid transparent;
}
