.form {
  padding: 0 20px 22px 20px;
}

.form__group {
  margin: 0;
  padding: 24px 0;
  border: none;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__list,
.form__radio-list,
.form__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__title {
  @include title;
  color: $color-black;
}

.form__input-text {
  background-color: $color-beige;
  border: 4px solid transparent;
}

.form__label-text {
  display: flex;
  @include text;
  margin-left: 16px;
  color: $color-brown;
}

.form__radio-text {
  @include title;
  text-transform: none;
  color: $color-brown;
}

.form__checkbox-text {
  @include title;
  text-transform: none;
  color: $color-brown;
}

.form__list {
  @include list_reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.form__radio-list {
  @include list_reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.form__checkbox-list {
  @include list_reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.form__textarea {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 150px;
  margin-top: 20px;

  background-color: $color-beige;
  border: 4px solid transparent;
}

.form__sent {
  @include title;
  font-size: 21px;
  display: flex;
  justify-content: center;
  width: 280px;
  padding: 12px;
  margin-top: 56px;
}

.form__footnote {
  display: block;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: $color-brown;
  opacity: 0.6;
  text-align: right;
  margin-top: 3px;
}
