.intro__logo {
  color: $color-black;
  background-image: url("/img/index/back-mobile.jpg");
  background-color: $color-gray;
  background-repeat: no-repeat;
}

.intro__logo-img {
  max-width: 100%;
  height: auto;
}
