.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-blue;
  color: $color-white;
  border: 4px solid transparent;

}
