// Desctop
@media (min-width: $desctop-width) {
  .advantages__item {
    &--gray {
      padding: 52px 50px;
    }
  }

  .advantages__box {
    &--img-one {
      padding: 52px 50px 51px 50px;
      width: 100%;
    }

    &--img {
      padding: 52px 50px 51px 50px;
      width: 100%;
    }
  }

  .advantages__subitem {
    min-height: 330px;

    &--house {
      padding: 69px 50px;
    }

    &--food {
      padding: 72px 50px 71px 50px;
    }

    &--souvenir {
      padding: 69px 50px 67px;
    }
  }

  .advantages__subitem-container {
    max-width: 300px;
    gap: 26px;
  }

  .adesctop {
    display: block;
  }

  .atablet {
    display: none;
  }

  .amobile {
    display: none;
  }
}
