// Desctop
@media (min-width: $desctop-width) {
  .advantages__box {
    &--img {
      min-width: 400px;
      padding: 52px 50px 51px 50px;
    }

    &--gray {
      padding: 50px 52px;
    }
  }

  .advantages__subitem-container {
    max-width: 300px;
    gap: 26px;
  }
}
