// Mobile
@media (min-width: $mobile-width) {
  .advantages__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
    &--gray {
      padding: 0 18px;
      background-color: $color-light-beige;
    }
  }

  .advantages__box {
    &--img {
      background-color: $color-blue;
      padding: 33px 18px 40px 18px;
    }

    &--gray {
      padding: 24px 0;
      border-top: 1px solid $color-gray;
    }
  }

  .advantages__image {
    display: block;
    object-fit: cover;
    width: 100%;

    &--reverse {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

  .advantages__title {
    @include title;
    color: $color-black;

    &--img {
      color: $color-white;
    }
  }

  .advantages__number {
    @include text;
    color: $color-brown;
    margin-top: 17px;

    &--img {
      color: $color-white;
    }
  }

  .advantages__text {
    @include text;
    color: $color-brown;
    margin-top: 17px;

    &--img {
      color: $color-white;
    }
  }

  .advantages__sublist {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 23px 18px 46px 18px;
  }

  .advantages__subtitle {
    @include title;
    color: $color-black;
    text-align: start;
    margin-top: 8px;
  }

  .advantages__subtext {
    @include text;
    color: $color-brown;
    text-align: start;
    margin-top: 16px;
  }
}
