// Desctop
@media (min-width: $desctop-width) {
  .advantages__item {
    &--gray {
      padding: 52px 50px;
    }
  }

  .advantages__box {
    &--img-one {
      padding: 52px 50px 51px 50px;
      width: 100%;
    }

    &--img {
      padding: 52px 50px 51px 50px;
      width: 100%;
    }
  }

  .advantages__subitem {
    align-items: center;
    gap: 24px;

    &--house {
      padding: 169px 50px 69px 50px;

      &::before {
        top: 69px;
        max-width: 80px;
        height: 72px;
      }
    }

    &--food {
      padding: 166px 50px 71px 50px;

      &::before {
        top: 72px;
        max-width: 73px;
        height: 69px;
      }
    }

    &--souvenir {
      padding: 170px 50px 67px 50px;

      &::before {
        top: 69px;
        max-width: 78px;
        height: 75px;
      }
    }
  }

  .advantages__text {
    &--img {
      max-width: 290px;
      width: 100%;
      margin: 0 auto;
    }

    &--img-reverse {
      max-width: 230px;
      width: 100%;
      margin: 0 auto;
    }

    &--gray {
      br {
        display: block;
      }
    }
  }

  .advantages__subtext {
    &--house {
      max-width: 260px;
    }

    &--food {
      max-width: 282px;
    }

    &--souvenir {
      max-width: 260px;
      width: 100%;

      br {
        display: block;
      }
    }
  }
}
