// Tablet
@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__item {
    min-height: 256px;

    &--img {
      grid-column: 1/4;
    }

    &--gray {
      padding: 41px 33px;
    }
  }

  .advantages__item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 256px;
  }

  .advantages__box {
    padding: 0;
    min-height: 256px;

    &--img-one {
      padding: 52px 33px 31px 33px;
    }

    &--img {
      padding: 52px 33px 31px 33px;
    }

    &--gray {
      padding: 0;
      border-top: none;
    }
  }

  .advantages__image {
    grid-column: 2/4;


    &--reverse {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }

  .advantages__sublist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  }

  .advantages__subitem {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--house {
      padding: 60px 33px;
    }

    &--food {
      padding: 62px 33px 61px 33px;
    }

    &--souvenir {
      padding: 64px 33px;
    }
  }

  .advantages__subitem-container {
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    width: 100%;
    gap: 26px;

    &--souvenir {
      gap: 23px;
    }
  }

  .advantages__subbox-svg {
    background-position: center;

    &--house {
      max-width: 77px;
      width: 100%;
      height: 72px;
    }

    &--food {
      max-width: 80px;
      width: 100%;
      height: 70px;
    }

    &--souvenir {
      max-width: 67px;
      width: 100%;
      height: 75px;
    }
  }

  .advantages__subbox-text {
    align-items: center;
  }

  .advantages__subtitle {
    margin: 0;
    text-align: center;
    font-size: 21px;
  }

  .advantages__subtext {
    text-align: center;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__text .remake {
    display: block;
  }

  .adesctop {
    display: none;
  }

  .atablet {
    display: block;
  }

  .amobile {
    display: none;
  }
}
