// Ступенька у блока преимуществ
@media (min-width: $mobile-width) and (max-width: 420px) {
  .advantages__wrapper::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/index/advantages-triangle.svg");
    background-position: center;
  }
}

// Mobile
@media (min-width: $mobile-width) {
  .advantages__wrapper {
    position: relative;
  }

  .advantages__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
    &--gray {
      padding: 0 18px;
      background-color: $color-light-beige;
    }
  }

  .advantages__box {
    &--img-one {
      padding: 54px 18px 40px 18px;
      background-color: $color-blue;
    }

    &--img {
      padding: 37px 18px;
      background-color: $color-blue;
    }

    &--gray {
      padding: 24px 0;
      border-top: 1px solid $color-gray;
    }

    &--gray-one {
      padding: 24px 0;
      border-top: none;
    }
  }

  .advantages__image {
    display: block;
    object-fit: cover;
    width: 100%;

    &--reverse {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

  .advantages__title {
    @include title;
    color: $color-black;
    margin-bottom: 11px;

    &--img {
      color: $color-white;
    }
  }

  .advantages__number {
    @include text;
    color: $color-brown;
    margin-bottom: 17px;

    &--img {
      color: $color-white;
    }
  }

  .advantages__text {
    @include text;
    color: $color-brown;

    &--img {
      color: $color-white;
    }
  }

  .advantages__sublist {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 23px 18px 46px 18px;
  }

  .advantages__subitem-container {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
  }

  .advantages__subbox-svg {
    display: block;
    background-repeat: no-repeat;
    min-width: 40px;
    max-width: 40px;
    width: 100%;
    height: auto;
    background-size: contain;

    &--house {
      background-image: url("../img/index/house.svg");
    }

    &--food {
      background-image: url("../img/index/food.svg");
    }

    &--souvenir {
      background-image: url("../img/index/souvenir.svg");
    }
  }

  .advantages__subbox-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .advantages__subtitle {
    @include title;
    text-align: start;
    color: $color-black;
  }

  .advantages__subtext {
    @include text;
    color: $color-brown;
    text-align: start;
  }

  .adesctop {
    display: none;
  }

  .atablet {
    display: none;
  }
}

.amobile {
  display: block;
}
