// Tablet
@media (min-width: $tablet-width) {
  .gallery__card {
    display: grid;
    padding: 0;
    border-top: none;
    background-color: $color-beige;
  }

  .card-photo {
    &--stretch {
      grid-column: 1/-1;
    }
  }

  .card-photo__link {
    grid-column: 1/-1;
  }

  .card-photo__link-image {
    margin: 0;

    &--stretch {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-photo__container {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    background-color: $color-beige;
    padding: 22px 20px 15px 20px;
    margin-top: auto;
  }

  .card-photo__title {
    @include text;
    text-align: start;
    font-weight: 700;
  }

  .card-photo__rating {
    justify-content: end;
    margin-bottom: 8px;
  }

  .card-photo__like {
    @include text;
    font-weight: 700;
    max-width: 240px;
    text-align: start;
  }
}
