// Tablet
@media (min-width: $tablet-width) {
  .gallery__card {
    padding: 0;
    border-top: none;
  }

  .card-photo {
    &--stretch {
      grid-column: 1/-1;
    }
  }

  .card-photo__link {
    grid-column: 1/-1;
  }

  .card-photo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-beige;
    padding: 20px;
  }

  .card-photo__title {
    @include text;
    font-weight: 700;
  }
}
