.card-photo {
  @media (min-width: $tablet-width) {
    &--stretch {
      grid-column: 1/-1;
    }
  }
}

.card-photo__container {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 11px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    background-color: $color-beige;
    padding: 22px 20px 16px 20px;
    margin-top: auto;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($color-black, $alpha: 0.3);
  }
}

.card-photo__link {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.card-photo__link-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card-photo__title {
  @media (min-width: $mobile-width) {
    @include text;
    font-weight: 700;
    color: $color-black;
    text-align: start;
  }

  @media (min-width: $desctop-width) {
    color: $color-white;
  }
}

.card-photo__author {
  @media (min-width: $mobile-width) {
    @include text;
    color: $color-brown;
    text-align: start;
    text-transform: none;
  }

  @media (min-width: $desctop-width) {
    color: $color-white;
  }
}

.card-photo__rating {
  @media (min-width: $mobile-width) {
    @include text;
    display: flex;
    gap: 14px;
    align-items: baseline;
    text-align: start;
    font-weight: 700;
    color: $color-black;
  }

  @media (min-width: $tablet-width) {
    justify-content: end;
    margin-bottom: 8px;
    gap: 9px;
  }

  @media (min-width: $desctop-width) {
    color: $color-white;

  }
}


.card-photo__like-icon {
  @media (min-width: $mobile-width) {
    opacity: 0.3;
  }

  @media (min-width: $desctop-width) {
    fill: $color-white;
    opacity: 1;
  }
}

.card-photo__like {
  @media (min-width: $mobile-width) {
    @include text;
    text-align: start;
    font-weight: 700;
    max-width: 240px;
    color: $color-black;
  }

  @media (min-width: $desctop-width) {
    color: $color-white;
  }
}
