.error__inner {
  @media (min-width: $mobile-width) {
    padding: 45px 0 35px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 47px 50px 47px;
  }

  @media (min-width: $desctop-width) {
    padding: 46px 47px 50px 47px;
  }
}

.error__container {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding: 0 42px 0 42px;
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    max-width: 307px;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 46px;
  }
}

.error__title {
  @media (min-width: $mobile-width) {
    @include title;
    max-width: 250px;
    width: 100%;
    color: $color-black;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.error__text {
  @media (min-width: $mobile-width) {
    @include text;
    color: $color-brown;
  }
}

.error__button {
  @media (min-width: $mobile-width) {
    @include title;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    width: 100%;
    padding: 12px;
    margin: 0 auto;

    &:hover {
      background-color: $color-blue-hover;
    }

    &:focus {
      outline: none;
      background: linear-gradient(180deg, $color-blue 0%, $color-blue-down 100%);
    }

    &:active {
      outline: none;
      background: linear-gradient(180deg, $color-beige -165%, $color-blue 45%);
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 272px;
  }
}
