// Mobile
@media (min-width: $mobile-width) {
  .error__inner {
    padding: 45px 0 35px 0;
  }

  .error__container {
    display: flex;
    flex-direction: column;
    max-width: 237px;
    width: 100%;
    padding: 0 0 28px 0;
    margin: 0 auto;
  }

  .error__title {
    @include title;
    color: $color-black;
  }

  .error__text {
    @include text;
    color: $color-brown;
    margin-top: 36px;
  }

  .error__button {
    @include title;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 10px;
    margin: 0 auto;
  }
}
