.main-modal {
  @media (min-width: $mobile-width) {
    &--open {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, $alpha: 0.3);
      z-index: 3;
    }

    &--closed {
      .main-modal__wrapper {
        display: none;
      }
    }
  }
}

.main-modal__container-error {
  @media (min-width: $mobile-width) {
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

    &--open {
      .error__inner {
        display: block;
      }
    }

    &--closed {
      .error__inner {
        display: none;
      }
    }
  }
}

.error__inner {
  @media (min-width: $mobile-width) {
    padding: 45px 0 35px 0;
    background-color: $color-white;
  }

  @media (min-width: $tablet-width) {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 54px 0 49px 0;
    margin: 0 auto;
  }
}

.error__container {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding: 0 42px 28px 42px;
  }

  @media (min-width: $tablet-width) {
    max-width: 307px;
    width: 100%;
    padding: 54px 0 29px 0;
    margin: 0 auto;
  }
}

.error__title {
  @media (min-width: $mobile-width) {
    @include title;
    color: $color-black;
    margin-bottom: 26px;
  }
}

.error__text {
  @media (min-width: $mobile-width) {
    @include text;
    color: $color-brown;
  }
}

.error__button {
  @media (min-width: $mobile-width) {
    @include title;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 12px;
    margin: 0 auto;

    &:hover {
      background-color: $color-blue-hover;
    }

    &:focus {
      outline: none;
      background: linear-gradient(180deg, $color-blue 0%, $color-blue-down 100%);
    }

    &:active {
      outline: none;
      background: linear-gradient(180deg, $color-beige -165%, $color-blue 45%);
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 272px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}
