// Tablet
@media (min-width: $tablet-width) {
  .error__inner {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 54px 0 49px 0;
    margin: 0 auto;
  }

  .error__container {
    max-width: 307px;
    width: 100%;
    padding: 54px 0 29px 0;
    margin: 0 auto;
  }

  .error__button {
    max-width: 272px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}
