// Tablet
@media (min-width: $tablet-width) {
  .form {
    padding: 0 60px;
  }

  .form__group-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    margin-bottom: 63px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $color-gray;
      left: 50%;
    }
  }

  .form__group {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--impression {
      position: relative;
      margin-bottom: 48px;

      &::before {
        @include separator-form;
        top: 13px;
        left: 0;
      }

      &::after {
        @include separator-form;
        top: 13px;
        right: 0;
      }
    }

    &--place {
      position: relative;
      margin-bottom: 42px;

      &::before {
        @include separator-form;
        top: 26px;
        left: 0;
      }

      &::after {
        @include separator-form;
        right: 0;
        top: 26px;
      }
    }

    &--comment {
      display: flex;
      flex-direction: column;
      position: relative;

      &::before {
        @include separator-form;
        left: 0;
        top: 13px;
      }

      &::after {
        @include separator-form;
        right: 0;
        top: 13px;
      }
    }
  }

  .form__list {
    padding: 0;
    padding-top: 28px;
    margin: 0;
    width: 100%;
  }

  .form__title {
    margin: 0;
    font-size: 21px;
    max-width: 300px;
    width: 100%;
  }

  .form__radio-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0;
    padding-top: 28px;
    margin: 0 auto;
  }

  .form__radio-item {
    width: 280px;
  }

  .form__checkbox-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 16px;
    padding: 0;
    padding-top: 28px;
    margin: 0 auto;
  }

  .form__checkbox-item {
    width: 224px;
  }

  .form__textarea {
    width: 100%;
  }

  .form__group-button {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 48px 0 64px 0;
  }

  .form__sent {
    width: 324px;
  }

  .form__footnote {
    margin: 0;
    max-width: 200px;
    width: 100%;
  }
}
