//Desctop
@media (min-width: $desctop-width) {
  .form {
    padding: 0 120px;
  }

  .form__radio-list {
    gap: 28px;
    margin: 0;
  }

  .form__checkbox-list {
    justify-content: center;
    column-gap: 64px;
    margin: 0;
  }

  .form__checkbox-item {
    width: 184px;
  }

  .form__group-container {
    margin-bottom: 71px;
  }

  .form__group {
    &--impression {
      margin-bottom: 56px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    &--place {
      margin-bottom: 49px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }

    &--comment {
      padding: 0 96px;

      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }
  }

  .form__group-button {
    padding: 48px 96px 64px 96px;
  }

  .form__textarea {
    max-width: 768px;
    width: 100%;
    height: 160px;
  }
}
