// Tablet
@media (min-width: $tablet-width) {
  .form {
    padding: 0 60px;
  }

  .form__group-container {
    display: grid;
    grid-template-columns: 295px auto 295px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $color-gray;
      left: 50%;
    }
  }

  .form__group {
    padding: 0;
    margin: 0;
    border: none;

    &--name {
      grid-column: 1/2;
    }

    &--contact {
      grid-column: 3/4;
    }

    &--impression {
      padding-top: 63px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        background-color: $color-gray;
        top: 0;
        left: 0;
        transform: translateY(76px);
      }

      &::after {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        background-color: $color-gray;
        top: 0;
        right: 0;
        transform: translateY(76px);
      }
    }

    &--place {
      position: relative;
      padding-top: 48px;

      &::before {
        @include separator-form;
        left: 0;
        transform: translateY(74px);
      }

      &::after {
        @include separator-form;
        right: 0;
        transform: translateY(74px);
      }
    }

    &--comment {
      display: flex;
      flex-direction: column;
      padding-top: 42px;
      position: relative;

      &::before {
        @include separator-form;
        left: 0;
        transform: translateY(55px);
      }

      &::after {
        @include separator-form;
        right: 0;
        transform: translateY(55px);
      }
    }
  }

  .form__list {
    padding: 0;
    padding-top: 28px;
    margin: 0;
  }

  .form__title {
    margin: 0;
    font-size: 21px;
  }

  .form__radio-list {
    width: 576px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    padding-top: 28px;
    margin: 0 auto;
  }

  .form__radio-item {
    width: 280px;
  }

  .form__checkbox-list {
    width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 16px;
    padding: 0;
    padding-top: 28px;
    margin: 0 auto;
  }

  .form__checkbox-item {
    width: 224px;
  }

  .form__textarea {
    width: 100%;
  }

  .form__group-button {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 64px 0;
  }

  .form__sent {
    width: 324px;
  }

  .form__footnote {
    margin: 0;
  }
}
