// Mobile
@media (min-width: $mobile-width) {
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__group {
    padding: 0 20px 0 20px;
    margin: 0;
    border: none;
    border-top: 1px solid $color-gray;
  }

  .form__list,
  .form__radio-list,
  .form__checkbox-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 20px 0 24px 0;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    position: relative;

    &--svg-tel {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 58px;
        height: 58px;
        background-color: $color-light-gray;
        background-image: url("../img/form/icon-phone.svg");
        border: 2px solid transparent;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        bottom: 0;
        right: 0;
      }
    }

    &--svg-email {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 58px;
        height: 58px;
        background-color: $color-light-gray;
        background-image: url("../img/form/icon-email.svg");
        border: 2px solid transparent;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        bottom: 0;
        right: 0;
      }
    }
  }

  .form__title {
    @include title;
    margin-top: 24px;
  }

  .form__label-text {
    @include text;
    display: flex;
    margin-left: 16px;
  }

  .form__input-text {
    @include title;
    background-color: $color-beige;
    text-align: start;
    text-transform: none;
    width: 100%;
    padding: 12px;
    border: 4px solid transparent;
  }

  .form__radio-label {
    position: relative;
    display: block;
    padding: 10px 0 10px 62px;
  }

  .form__radio-input:checked + .form__radio-mark {
    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 16px;
      height: 16px;
      background-color: $color-brown;
      border-radius: 50%;
    }
  }

  .form__radio-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border: 2px solid transparent;
    background-color: $color-beige;
    border-radius: 50%;
  }

  .form__radio-text {
    @include title;
    text-transform: none;
  }

  .form__checkbox-label {
    position: relative;
    display: block;
    padding: 10px 0 10px 62px;
  }

  .form__checkbox-input:checked + .form__checkbox-mark {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/form/check.svg");
      width: 22px;
      height: 16px;
      top: 13px;
      left: 10px;
    }
  }

  .form__checkbox-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border: 2px solid transparent;
    background-color: $color-beige;
    border-radius: 4%;
  }

  .form__checkbox-text {
    @include title;
    text-transform: none;
  }

  .form__textarea {
    @include title;
    display: flex;
    flex-direction: column;
    text-transform: none;
    text-align: start;
    padding: 16px;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-color: $color-beige;
    border: 4px solid transparent;
  }

  .form__group-button {
    display: flex;
    flex-direction: column;
    padding: 56px 20px 22px 20px;
  }

  .form__sent {
    @include title;
    font-size: 21px;
    padding: 12px;
  }

  .form__footnote {
    @include text;
    color: $color-brown;
    font-size: 12px;
    opacity: 0.6;
    text-align: right;
    margin-top: 3px;
  }
}
