// Tablet
@media (min-width: $tablet-width) {
  .intro__logo {
    padding: 95px 0 117px 0;

    &--full {
      padding: 77px 0 91px 0;
    }
  }

  .intro__logo-img {
    max-width: 457px;
    width: 100%;

    &--full {
      max-width: 461px;
    }
  }

  .intro__wrapper {
    &--full {
      max-width: 520px;
      padding: 48px 0 55px 0;
    }

    &--catalog {
      max-width: 458px;
      padding: 66px 0 67px 0;
    }

    &--form {
      max-width: 436px;
      padding: 64px 0 108px 0;
    }
  }

  .intro__title {
    font-size: 30px;

    &--full {
      font-size: 21px;
    }
  }
}
