// Mobile
@media (min-width: $mobile-width) {
  .intro__logo {
    background-color: $color-gray;
    background-image: url("../img/index/back-desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;
    padding: 52px 0 67px 0;

    &--full {
      padding: 90px 0 85px 0;
    }
  }

  .intro__logo-img {
    display: block;
    height: auto;
    margin: 0 auto;

    &--full {
      display: block;
      width: 282px;   //проверить
      height: auto;
      margin: 0 auto;
    }
  }

  .intro__wrapper {
    &--full {
      width: 272px;
      padding: 32px 0;
      margin: 0 auto;
    }

    &--catalog {
      width: 280px;
      padding: 37px 0 25px 0;
      margin: 0 auto;
    }

    &--form {
      width: 280px;
      padding: 36px 0 28px 0;
      margin: 0 auto;
    }
  }

  .intro__title {
    @include title;
    color: $color-black;
  }

  .intro__text {
    @include text;
    color: $color-brown;
    margin-top: 35px;

    &--form {
      @include text;
      color: $color-brown;
      margin-top: 24px;
    }
  }
}
