// Tablet
@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}
