// Mobile
@media (min-width: $mobile-width) {
  .main-navigation {
    @include title;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
  }

  .main-navigation__list {
    @include list-reset;
    display: none;
  }

  .main-navigation__item {
    background-color: $color-blue;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  .main-navigation__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color-white;
    padding: 17px 20px 12px 20px;
  }

  .main-navigation__toggle {
    position: absolute;
    border: 2px solid transparent;
    background: transparent;
    min-height: 22px;
    min-width: 23px;
    top: 17px;
    right: 20px;
    margin: 0;
    padding: 0;
  }
}
