.main-header {
  @media (min-width: $mobile-width) {
    min-height: 56px;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
  }
}
