// Tablet
@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 648px;
    padding: 36px 0;
  }

  .main-footer__hashtag {
    padding: 0;
  }
}
