// Mobile
@media (min-width: $mobile-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 156px;
    width: 100%;
    padding: 33px 0;
    margin: 0 auto;
  }

  .main-footer__hashtag {
    @include title;
    color: $color-black;
    font-size: 21px;
    padding: 0 10px;
  }

  .main-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    gap: 12px;
  }

  .main-footer__copyright-title {
    @include text;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: $color-black;
  }
}
