// Mobile
@media (min-width: $mobile-width) {
  .map__wrapper {
    min-height: 350px;
    padding: 49px 0 8px 0;
  }

  .map__image {
    display: flex;
    width: 100%;
    object-fit: contain;
  }
}

// Mobile
@media (min-width: $tablet-width) {
  .map__wrapper {
    padding: 0;
    padding-top: 55px;
  }
}
// Desctop
@media (min-width: $desctop-width) {
  .map__wrapper {
    padding: 0;
    padding-top: 66px;
  }
}
