.search__wrapper {
  @media (min-width: $mobile-width) {
    max-width: 284px;
    width: 100%;
    padding: 38px 0 49px 0;
    margin: 0 auto;
  }

  @media (min-width: 420px)and(max-width: $mobile-width-only) {
    max-width: 324px;
  }

  @media (min-width: $tablet-width) {
    max-width: 435px;
    padding: 60px 0 55px 0;
    margin: 0 auto;
  }

  @media (min-width: $desctop-width) {
    padding: 60px 0 66px 0;
  }
}

.search__title {
  @media (min-width: $mobile-width) {
    @include title;
    color: $color-black;
    font-size: 21px;
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desctop-width) {
    font-size: 30px;
  }
}

.search__text {
  @media (min-width: $mobile-width) {
    @include text;
    margin-bottom: 32px;
    color: $color-brown;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.search__button {
  @media (min-width: $mobile-width) {
    @include title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding: 12px;
    max-width: 284px;
    width: 100%;
    margin: 0 auto;

    &:hover {
      background-color: $color-blue-hover;
    }

    &:focus {
      outline: none;
      background: linear-gradient(180deg, $color-blue 0%, $color-blue-down 100%);
    }

    &:active {
      outline: none;
      background: linear-gradient(180deg, $color-beige -165%, $color-blue 45%);
    }

    &:disabled {
      background-color: $color-blue-down;
      color: rgba($color: $color-white, $alpha: 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}
