// Mobile
@media (min-width: $mobile-width) {
  .search__wrapper {
    padding: 38px 18px 49px 18px;
  }

  .search__title {
    @include title;
    color: $color-black;
    font-size: 21px;
  }

  .search__text {
    @include text;
    color: $color-brown;
    margin-top: 26px;
  }

  .search__button {
    @include title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding: 12px;
    margin-top: 32px;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .search__wrapper {
    width: 458px;
    padding: 60px 0 55px 0;
    margin: 0 auto;
  }

  .search__button {
    max-width: 458px;

    margin-top: 44px;
  }
}

// Desctop
@media (min-width: $desctop-width) {
  .search__wrapper {
    padding: 60px 0 66px 0;
  }

  .search__button {
    margin-top: 59px;
  }
}
