// Tablet
@media (min-width: $tablet-width) {
  .search__wrapper {
    max-width: 435px;
    padding: 60px 0 55px 0;
    margin: 0 auto;
  }

  .search__text {
    margin-bottom: 44px;
  }

  .search__button {
    max-width: 458px;
  }
}
