// Mobile
@media (min-width: $mobile-width) {
  .search__wrapper {
    max-width: 262px;
    width: 100%;
    padding: 38px 0 32px 0;
    margin: 0 auto;
  }

  .search__title {
    @include title;
    color: $color-black;
    font-size: 21px;
    margin-bottom: 26px;
  }

  .search__text {
    @include text;
    color: $color-brown;
  }

  .search__button {
    @include title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding: 12px;
    max-width: 284px;
    width: 100%;
    margin: 0 auto;
  }
}
