// social
.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 156px;
  width: 100%;
  gap: 6px;
}

.social__item {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: $color-blue;
}

.social__link {
  padding: 12px;
  color: $color-white;

  &:hover {
    background-color: $color-blue-hover;
  }

  &:focus {
    outline: none;
    background: linear-gradient(180deg, $color-blue 0%, $color-blue-down 100%);
  }

  &:active {
    outline: none;
    background: linear-gradient(180deg, $color-beige -165%, $color-blue 45%);
  }

  &:disabled {
    background-color: $color-blue-down;
    color: rgba($color: $color-white, $alpha: 0.3);
  }
}
