// social
.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.social__item {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: $color-blue;
}

.social__link {
  padding: 12px;
}
