.success__container {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding: 40px 38px 50px 38px;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 114px 52px 114px;
  }

  @media (min-width: $desctop-width) {
    padding: 50px 114px 52px 114px;
  }
}

.success__title {
  @media (min-width: $mobile-width) {
    @include title;
    color: $color-black;
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.success__text {
  @media (min-width: $mobile-width) {
    @include text;
    color: $color-brown;
  }
}

.success__background-grey {
  @media (min-width: $mobile-width) {
    background-color: $color-beige;
    padding: 23px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 44px 0;
  }
}

.success__button {
  @media (min-width: $mobile-width) {
    @include title;
    max-width: 280px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &:hover {
      background-color: $color-blue-hover;
    }

    &:focus {
      outline: none;
      background: linear-gradient(180deg, $color-blue 0%, $color-blue-down 100%);
    }

    &:active {
      outline: none;
      background: linear-gradient(180deg, $color-beige -165%, $color-blue 45%);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 458px;
    width: 100%;
    padding: 12px;
    margin: 0 auto;
  }
}
