// Mobile
@media (min-width: $mobile-width) {
  .video__wrapper {
    border-top: 1px solid $color-light-gray;
  }

  .video__slogan {
    max-width: 266px;
    width: 100%;
    padding: 17px 0 38px 0;
    margin: 0 auto;
  }

  .video__title {
    @include title;
    color: $color-black;
    margin-bottom: 38px;
  }

  .video__text {
    @include text;
    color: $color-brown;
  }

  .video__inner {
    position: relative;
  }

  .video__image {
    display: block;
    width: 100%;
    object-fit: cover;
    max-width: 280px;
    min-height: 177px;
    max-height: 177px;
    margin: 0 auto;
  }

  .video__play {
    position: absolute;
    max-width: 50px;
    min-height: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: transparent;
    border: 2px solid transparent;

    &::before {
      content: "";
      display: flex;
      width: 50px;
      height: 54px;
      background-image: url("../img/catalog/play-video.svg");
      background-repeat: no-repeat;
    }
  }
}
