.video__wrapper {
  @media (min-width: $mobile-width) {
    border-top: 1px solid $color-light-gray;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 40px;
  }

  @media (min-width: $desctop-width) {
    border: none;
    margin-bottom: 84px;
  }
}

.video__slogan {
  @media (min-width: $mobile-width) {
    max-width: 266px;
    width: 100%;
    padding: 17px 0 38px 0;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    max-width: 450px;
    padding: 56px 0 89px 0;
  }

  @media (min-width: $desctop-width) {
    padding: 62px 0 85px 0;
    max-width: 451px;
  }
}

.video__title {
  @media (min-width: $mobile-width) {
    @include title;
    color: $color-black;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.video__text {
  @media (min-width: $mobile-width) {
    @include text;
    color: $color-brown;
  }
}

.video__inner {
  @media (min-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desctop-width) {
    padding: 0 200px;
  }
}

.video__link-image {
  @media (min-width: $mobile-width) {
    display: block;
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 648px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 800px;
  }
}

.video__play {
  @media (min-width: $mobile-width) {
    display: flex;
    position: absolute;
    width: 47px;
    height: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: transparent;
    border: none;

    &::before {
      content: "";
      background-image: url("../img/stack-sprait.svg#play-video");
      background-repeat: no-repeat;
      width: 100%;
      max-width: 47px;
      height: 54px;
    }
  }
}
