// Desctop
@media (min-width: $desctop-width) {
  .video__wrapper {
    border: none;
    margin-bottom: 84px;
  }

  .video__slogan {
    padding: 62px 0 64px 0;
  }

  .video__image {
    max-width: 800px;
  }
}
