// advantages
.advantages__box {
  padding: 24px 18px 24px 18px;

  &--img {
    background-color: $color-blue;
    padding: 37px 18px;
  }

  &--gray {
    background-color: $color-light-beige;
    border-top: 1px solid $color-gray;
  }
}

.advantages__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.advantages__list {
  @include list-reset;
}


.advantages__title {
  @include title;
  color: $color-black;

  &--img {
    color: $color-white;
  }
}

.advantages__number {
  @include text;
  color: $color-brown;
  margin-top: 17px;

  &--img {
    color: $color-white;
  }
}

.advantages__text {
  @include text;
  color: $color-brown;
  margin-top: 17px;

  &--img {
    color: $color-white;
  }
}

.advantages__sublist {
  @include list-reset;
  padding: 23px 18px 46px 18px;
}

.advantages__subtitle {
  @include title;
  color: $color-black;
  text-align: start;
  margin-top: 8px;
}

.advantages__subtext {
  @include text;
  color: $color-brown;
  text-align: start;
  margin-top: 16px;
}
