// intro
.intro__logo--full {
  color: $color-black;
  background-image: url("/img/index/back-mobile.jpg");
  background-color: $color-gray;
  background-repeat: no-repeat;
  padding: 90px 19px 85px 19px;
}

.intro__wrapper--full {
  padding: 32px 18px 16px 18px;
}

.intro__title {
  @include title;
  color: $color-black;
}

.intro__text {
  @include text;
  color: $color-brown;
  margin-top: 35px;
}
