// intro
.intro__logo--full {
  color: $color-black;
  background-image: url("/img/index/back-mobile.jpg");
  background-color: $color-gray;
  background-repeat: no-repeat;

  padding: 90px 19px 85px 19px;
}

.intro__logo-img--full {
  display: block;
  max-width: 100%;
  height: auto;
}
