// search
.search__wrapper {
  padding: 38px 18px 49px 18px;
}

.search__title {
  @include title;
  font-size: 21px;
  color: $color-black;
}

.search__text {
  @include text;
  color: $color-brown;
  margin-top: 26px;
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 32px;
}
